@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$headercolour: #658E8C;
$paragraphcolour: #345654;
$linkcolour: #4B74C3;

// below 400

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #031923;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

hr{
    color: $headercolour;
    width: 50%;
    margin-top: 7em;
    border:none;
    border-top:1px solid $headercolour;
}

section{
    padding: 2em 4em;
    text-align: center;
}

.links-in-descriptions{
    color: $linkcolour;
}

.topic-name{
    color: $headercolour;
    font-size: 16px;
}

.home-page-links{
    color: $paragraphcolour;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #041f2b;
    padding: 1em;
    ul{
        display: flex;
        a{
            color: #7A9F9D;
            padding: 0 1em;
            font-size: 14;
        }
    }
}

.logo{
    color: $linkcolour;
    font-weight: bolder;
    font-size: 1.2em;
    border-top: 1px solid $linkcolour;
    border-bottom: 1px solid $linkcolour;
    margin-left: 3em;
}

.resume-button{
    border: 1px solid #a5cfcd;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 8px;
}

.start-page{
    padding-top: 6em;
    padding-bottom: 4em;
    padding-right: 4em;
    padding-left: 4em;
    text-align: left;
    p{
        padding: 0;
        margin: 0;
    }
}

.hi-block{
    white-space: pre;
    color: $headercolour;
    font-size: 26px;
}

.my-name{
    color: #BBE2E0;
    font-size: 66px;
    font-weight: bold;
}

.my-short-desc{
    color: $paragraphcolour;
    font-size: 16px;
    max-width: 40%;
}

.about-section{

    place-content: center;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;

    .left{
        
        color: $paragraphcolour;
        display: grid;
        padding-right: 4em;
        font-size: 0.9em;
        line-height: 1.3em;
        text-align: left;
        place-content: center;
    
        ul{
            padding: 0;
            margin: 0;
            display: block;
            list-style-type: circle;
            grid-template-columns: 50% auto;
            grid-template-rows: auto;
            li ul {
                display: none;
            }

            li:hover {
                ul {
                    list-style-type: none;
                    display: flex;
                    li{
                        padding: 1em;
                    }
                }
            }
        }
    }

    img{
        place-content: center;
        padding: 0;
        margin: 0;
        margin-top: 3em;
        max-width: 135px;
        max-height: 200px;
        border: 2px solid black;
    }
}

.payu{

    ul{
        list-style-type: circle;
        color: $paragraphcolour;
        text-align: left;
        padding: 0;
        margin: 0 auto;
        max-width: 60%;
        font-size: 0.9em;
        line-height: 1.3em;
    }
}

.website-project{

    place-content: center;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    
    .left{
        text-align: left;
        color: $paragraphcolour;
        padding: 4em 4em;
        font-size: 0.9em;
        line-height: 1.3em;
        
        ul{
            list-style-type: circle;
            display: flex;
            li{
                margin: 1em;
            }
        }
    }

    img{
        padding: 0;
        margin: 0;
        max-width: 400px;
        max-height: 350px;
        border: 2px solid black;
    }
}

.alohamora{

    place-content: center;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    
    .left{
        text-align: left;
        color: $paragraphcolour;
        padding: 4em 4em;
        font-size: 0.9em;
        line-height: 1.3em;
        
        ul{
            list-style-type: circle;
            display: flex;
            li{
                margin: 1em;
            }
        }
    }

    img{
        padding: 0;
        margin: 0;
        max-width: 400px;
        max-height: 350px;
        border: 2px solid black;
    }
}

.bottom-bar{
    place-content: center;

    footer{
       
        background-color: #041f2b;
        margin: 0 auto;
        padding: 1em 4em;

        p{
            text-align: center;
            margin: 0 auto;
            color: #7A9F9D;
            font-size: 16px;
        }

        ul{
            justify-content: space-evenly;
            margin: 0 auto;
            display: flex;
            max-width: 50%;

            li{
                padding: 1em;

                a img{
                    max-width: 1.5em;
                    max-height: 1.5em;
                }
            }
        }
    }
}